{% extends "base_staff.html" %}
{% block contenido %}
<body>
    
<div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">
    <form method="POST">
        <h3 align="center">Agregar Insumo</h3>
        <div class="form-group">
          <label for="Nombre">Nombre del Insumo</label>
          <!--EDITAR ESTOS DATOS-->
          <input
            type="text"
            class="form-control"
            id="Nombre"
            name="Nombre"
            placeholder="Ingrese el nombre del Insumo"
          />
        </div>
        <div class="form-group">
            <label for="RUT">Stock</label>
            <!--EDITAR ESTOS DATOS-->
            <input
              type="text"
              class="form-control"
              id="RUT"
              name="RUT"
              placeholder="Ingrese el Stock Inicial"
            />
          </div>
          <a href="/inventario" class="btn btn-primary">Confirmar</a>


          <h3 align="center">Editar Insumo</h3>
        <div class="form-group">
          <label for="email">ID del Insumo</label>
          <!--EDITAR ESTOS DATOS-->
          <input
            type="email"
            class="form-control"
            id="email"
            name="email"
            placeholder="Ingrese el ID del Insumo"
          />
        </div>
        <div class="form-group">
          <label for="Nombre">Nombre del Insumo</label>
          <!--EDITAR ESTOS DATOS-->
          <input
            type="text"
            class="form-control"
            id="Nombre"
            name="Nombre"
            placeholder="Ingrese el nombre del Insumo"
          />
        </div>
        <div class="form-group">
            <label for="RUT">Stock</label>
            <!--EDITAR ESTOS DATOS-->
            <input
              type="text"
              class="form-control"
              id="RUT"
              name="RUT"
              placeholder="Ingrese el nuevo stock del Insumo"
            />
          </div>
          <a href="/inventario" class="btn btn-primary">Confirmar</a>


          <h3 align="center">Eliminar Insumo</h3>
        <div class="form-group">
          <label for="email">ID del Insumo</label>
          <!--EDITAR ESTOS DATOS-->
          <input
            type="email"
            class="form-control"
            id="email"
            name="email"
            placeholder="Ingrese el ID del Insumo"
          />
        </div>
        <a href="/inventario" class="btn btn-primary">Confirmar</a>
        {% endblock %}