{% extends "base_staff.html" %}
{% block contenido %}
  <body>
    <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">
      <form method="POST">

        <h3 align="center">Agregar Producto</h3>

        <div class="form-group">
          <label for="email">Nombre del Producto</label>
          <!--EDITAR ESTOS DATOS-->
          <input
            type="email"
            class="form-control"
            id="email"
            name="email"
            placeholder="Ingrese su direccion correo electronico"
          />
        </div>

        <div class="form-group">
          <label for="Nombre">Tipo</label>
          <!--EDITAR ESTOS DATOS-->
          <input
            type="text"
            class="form-control"
            id="Nombre"
            name="Nombre"
            placeholder="Ingrese su nombre"
          />
        </div>

        <div class="form-group">
          <label for="RUT">Disponibilidad</label>
          <!--EDITAR ESTOS DATOS-->
          <input
            type="text"
            class="form-control"
            id="RUT"
            name="RUT"
            placeholder="Ingrese su RUT"
          />
        </div>

        <a href="/inventario" class="btn btn-primary">Confirmar</a>

        <h3 align="center">Editar Producto</h3>

        <div class="form-group">
          <label for="email">Nombre</label>
          <!--EDITAR ESTOS DATOS-->
          <input
            type="email"
            class="form-control"
            id="email"
            name="email"
            placeholder="Ingrese su direccion correo electronico"
          />
        </div>

        <div class="form-group">
          <label for="Nombre">Tipo</label>
          <!--EDITAR ESTOS DATOS-->
          <input
            type="text"
            class="form-control"
            id="Nombre"
            name="Nombre"
            placeholder="Ingrese su nombre"
          />
        </div>

        <div class="form-group">
          <label for="RUT">Disponibilidad</label>
          <!--EDITAR ESTOS DATOS-->
          <input
            type="text"
            class="form-control"
            id="RUT"
            name="RUT"
            placeholder="Ingrese su RUT"
          />
        </div>

        <a href="/inventario" class="btn btn-primary">Confirmar</a>

        <h3 align="center">Eliminar Insumo</h3>

        <div class="form-group">
          <label for="email">Nombre</label>
          <!--EDITAR ESTOS DATOS-->
          <input
            type="email"
            class="form-control"
            id="email"
            name="email"
            placeholder="Ingrese su direccion correo electronico"
          />
        </div>

        <a href="/inventario" class="btn btn-primary">Confirmar</a>
      </form>
    </div>
  </body>
{% endblock %}