{% extends "base.html" %}
{% block contenido %}
<div class="jumbotron p-4 p-md-5 text-white rounded" style="background-color: #e3f2fd;">
  <div class="col-md-6 px-0">
        <img src="../static/img/carrusel.jpg" class="img-fluid;" alt="Cinta imágenes">
  </div>
</div>


<div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">
  <div class="col-md-5 p-lg-5 mx-auto my-5">
    <img id="QS" src="../static/img/bienvenido.jpg" class="img-fluid" alt="Cinta imágenes">
    <h1 class="display-4 font-weight-normal">¿Quiénes Somos?</h1>
    <p class="lead font-weight-normal">Te presentamos VEYSA MANUALIDADES, un emprendimiento dedicado a la creación de papeleria creativa, podrás escoger productos predefinidos o armarlos a tu gusto.</p>
  </div>
  </div>



<footer class="container py-5">
  <div class="row">
    <div class="col-12 col-md">
      <img src="../static/img/logo_veysa.jpg" alt="..." class="rounded float-left" width="24" height="24" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="d-block mb-2" role="img" viewBox="0 0 24 24" focusable="false"><title>Logo</title><circle cx="12" cy="12" r="10"/><path d="M14.31 8l5.74 9.94M9.69 8h11.48M7.38 12l5.74-9.94M9.69 16L3.95 6.06M14.31 16H2.83m13.79-4l-5.74 9.94"/></svg>
      <small class="d-block mb-3 text-muted">&copy; 2022</small>
    </div>
  </div>
    
</footer>

{% endblock %}