{% extends "base_staff.html" %}
{% block contenido %}
  <body>
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col"></th>
          <th scope="col"><a class="btn btn-outline-light">Inventario Insumos Noviembre</a></th>
          <th scope="col"></th>
          <th scope="col"><a type="button" class="btn btn-warning" href="/agregarinsumos">AGREGAR</button></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">CÓDIGO</th>
          <td>INSUMO</td>
          <td>STOCK</td>
          <td>EDITAR/ELIMINAR</td>
        </tr>
        <tr>
          <th scope="row">CM_01</th>
          <td>Cartulina Metálica Gris</td>
          <td>8</td>
          <td><a type="button" class="btn btn-outline-primary" href="/agregarinsumos">EDITAR</a><a type="button" class="btn btn-outline-primary" href="/agregarinsumos">ELIMINAR</a>
          </td>
        </tr>
        <tr>
          <th scope="row">CM_03</th>
          <td>Cartulina Metálica Roja</td>
          <td>5</td>
          <td><a type="button" class="btn btn-outline-primary" href="/agregarinsumos">EDITAR</a><a type="button" class="btn btn-outline-primary" href="/agregarinsumos">ELIMINAR</a>
          </td>
        </tr>
      </tbody>
    </table>
  </body>
{% endblock %}