
{% extends "base_staff.html" %}
{% block contenido %}
<body>  
  <div class="container">
    <div class="col-md-8 d-none d-md-block ml-6 text-center p-lg-5 mx-auto my-5">
      <h2> Productos</h2>
      <a href="/editarproducto" class="btn btn-succes">AGREGAR</a>
    </div>
  </div>
  <!-- Inner -->
  <div class="carousel-inner py-4">
    <!-- Single item -->
    <div class="carousel-item active">
      <div class="container">
        <div class="row">
          <div class="col-lg-4">
            <div class="card">
              <img
                src="../static/img/munecos_conejo.png"
                class="card-img-top"
                alt="Waterfall"
              />
              <div class="card-body">
                <h5 class="card-title">Muñecos conejo y canasta</h5>
                <p class="card-text">
                  18 CM
                </p>
                <p class="card-text">
                  Dos muñecos de conejo con una canasta para huevos.
                </p>
                <a href="/editarproducto" class="btn btn-warning">EDITAR</a> <a href="/editarproducto" class="btn btn-danger">ELIMINAR</a>

              </div>
            </div>
          </div>
          </div>
      </div>
    </div>
  </div>
</body>
{% endblock %}
  
  
          