{% extends "base.html" %}
{% block title %}Iniciar sesion{% endblock %}
{% block contenido %}
<div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">
  <div class="col-md-5 p-lg-5 mx-auto my-5">
    <img id="QS" src="../static/img/logo_identificate.jpg" class="img-fluid" alt="Cinta imágenes">
  </div>

  <form class="form-signin">
    <h1 class="h3 mb-3 font-weight-normal">Por favor inicie sesión</h1>
    <label for="inputEmail" class="sr-only">Nombre</label>
    <input type="name" id="inputEmail" class="form-control" placeholder="Ingrese su nombre" required autofocus>
    <label for="inputPassword" class="sr-only">Contraseña</label>
    <input type="password" id="inputPassword" class="form-control" placeholder="Contraseña" required>
   
    <!-- AQUÍ REDIRECCIONAR A CLIENTE O STAFF COMO SEA REQUERIDO-->
    <a href="/menustaff" class="btn btn-primary">Iniciar Sesion</a>
    <!-- POR AHORA ESTA REDIRECCIONANDO A STAFF-->

  </form>
<div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">
  <a href="/sign-up-client" class="btn btn-primary">Registrate</a>
  </div
</div>
{% endblock %}